<html>
    <head>
        <include href="templates/head.html"></include>
    </head>
    <bod>
        <h3>Please Login</h3>
        <check if="{{ @msg == 'error' }}">
            <div class="alert alert-danger">
                Invlaid username or password!
            </div>
        </check>
        <form action="/login" method="POST">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <input type="submit" name="submit" value="submit">
        </form>
    </bod>
</html>